.title img
    {
        width:80%;
        margin:1% 10%;
    }
    .buttons
    {
        width:100%;
        margin:0 10%;
    }
    .buttons img
    {
        cursor: pointer;
        margin-right:3%;

    }
    .display
    {
        margin-top:3%;
        border:solid 1px black;
    }
    .reset
    {
        padding:10px 10px;
        margin:5% 0 0 5%;
        border:none;
        border-radius:3px;
        background-color:gold;
        color: white;
        font-family:幼圆;
        cursor: pointer;
    }
    .result
    {
        list-style-type:none;
        margin-left:8%;
    }
    .result li
    {
        display: inline;
        margin-right:5%;
    }
